body {
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.directions {
	padding: 0 0 5px 0;
	margin: 0 25vw;
}

table {
	margin: 0 auto;
}

td {
	padding: 5px 8px;
	text-align: left;
}

td.term {
	font-weight: bold;
	text-align: right;
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

button {
	margin: 0 5px 20px 5px;
	padding: 10px 20px;
	font-size: 1.5em;
}

pre {
	font-family: "Times New Roman", Times, serif;
}
